# https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID
PUBLIC_DISCORD_USER_ID=""

ASTRO_STUDIO_APP_TOKEN=""
# https://turso.tech/
# ASTRO_DB_REMOTE_URL=""
# ASTRO_DB_APP_TOKEN=""
