---
import Introduction from "~/components/introduction.astro";
import Projects from "~/components/projects.astro";
import Skills from "~/components/skills.astro";
import Socials from "~/components/socials.astro";
import SpotifyCurrentlyPlaying from "~/components/spotify-currently-playing";
import Layout from "~/layouts/Layout.astro";
import "~/styles/main.css";
---

<Layout>
  <main
    class="bg-gradient-to-br from-gray-700 via-gray-900 to-black flex h-full min-h-screen w-full flex-col justify-center align-middle"
  >
    <div
      class="mx-auto z-10 my-auto flex w-full flex-col justify-center gap-y-5 p-4 align-middle"
    >
      <Introduction />
      <Socials />
      <Projects />
      <Skills />
      <SpotifyCurrentlyPlaying client:load />
    </div>
    <div class="absolute z-0 rounded-md inset-0 overflow-hidden dark">
      <div
        class="rays absolute -inset-3 opacity-20 group-hover/lights:opacity-70"
      >
      </div>
    </div>
  </main>
</Layout>
