---
import Introduction from "~/components/introduction.astro";
import PageviewsCounter from "~/components/pageviews-counter.astro";
import SkillsSection from "~/components/skills-section.astro";
import SocialsSection from "~/components/socials-section.astro";
import SpotifyCurrentlyPlaying from "~/components/spotify-currently-playing";
import Layout from "~/layouts/Layout.astro";
---

<Layout>
  <main
    class="bg-linear-to-br from-gray-700 via-gray-900 to-black flex h-full min-h-screen w-full flex-col justify-center align-middle"
  >
    <div
      class="mx-auto z-10 my-auto flex w-full flex-col justify-center gap-y-5 p-4 align-middle"
    >
      <Introduction />
      <SocialsSection />
      <SkillsSection />
      <SpotifyCurrentlyPlaying client:load />
      <PageviewsCounter />
    </div>
    <div class="absolute z-0 rounded-md inset-0 overflow-hidden dark">
      <div
        class="rays absolute -inset-3 opacity-20 group-hover/lights:opacity-70"
      >
      </div>
    </div>
  </main>
</Layout>
