---
import RayLinkButton from "./rays-link-button.astro";

interface Project {
  label: string;
  url: string;
}

const projects: Project[] = [
  {
    label: "Watchlist",
    url: "https://watchlist.abraham.lat",
  },
  {
    label: "Bagel Clicker",
    url: "https://bagel.abraham.lat",
  },
  {
    label: "Image Color Picker",
    url: "https://color.abraham.lat",
  },
];
---

<section class="flex flex-col items-center justify-center align-middle">
  <h3 class="pt-6 font-cabinet-grotesk text-lg font-bold text-white md:text-xl">
    Personal Projects
  </h3>
  <div class="mx-auto w-full rounded-md md:w-1/2">
    <article
      class="flex w-full flex-wrap justify-center gap-2 py-4 scrollbar-thin scrollbar-track-white/20 scrollbar-thumb-white/60 scrollbar-track-rounded-md scrollbar-thumb-rounded-md"
    >
      {
        projects.map(({ label, url }) => (
          <RayLinkButton label={label} url={url} />
        ))
      }
    </article>
  </div>
</section>
