---
const skills = [
  "Next.js",
  "Astro",
  "TailwindCSS",
  "Vercel",
  "AWS",
  "Supabase",
  "PHP",
  "TypeScript",
  "Expo",
];
---

<section class="flex flex-col items-center justify-center align-middle">
  <h3 class="text-lg font-bold text-white md:text-xl pb-4">Technologies</h3>
  <div
    class="mx-auto w-full flex flex-wrap items-center align-middle gap-2 justify-center rounded-md md:w-1/2"
  >
    {
      skills.map((skill) => (
        <span class="rounded-lg w-max border border-white/10 bg-white/10 text-white px-2 backdrop-blur-sm">
          {skill}
        </span>
      ))
    }
  </div>
</section>
