---
type Stack = {
  name: string;
  url: string;
};

const stack: Stack[] = [
  {
    name: "Next.js",
    url: "https://nextjs.org/",
  },
  {
    name: "Astro",
    url: "https://astro.build/",
  },
  {
    name: "TypeScript",
    url: "https://www.typescriptlang.org/",
  },
  {
    name: "TailwindCSS",
    url: "https://tailwindcss.com/",
  },
  {
    name: "Vercel",
    url: "https://vercel.com/",
  },
  {
    name: "Railway",
    url: "https://railway.app/",
  },
  {
    name: "AWS",
    url: "https://aws.amazon.com/",
  },
  {
    name: "Prisma",
    url: "https://prisma.io/",
  },
  {
    name: "Drizzle ORM",
    url: "https://orm.drizzle.team/",
  },
  {
    name: "Supabase",
    url: "https://supabase.com/",
  },
  {
    name: "Turso",
    url: "https://turso.tech/",
  },
  {
    name: "tRPC",
    url: "https://trpc.io/",
  },
  {
    name: "React Query",
    url: "https://tanstack.com/query/latest",
  },
  {
    name: "PHP",
    url: "https://www.php.net/",
  },
  {
    name: "Playwright",
    url: "https://playwright.dev/",
  },
  {
    name: "Expo",
    url: "https://expo.dev/",
  },
  {
    name: "C#",
    url: "https://learn.microsoft.com/en-us/dotnet/csharp/",
  },
  {
    name: "JavaScript",
    url: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  {
    name: "PostgreSQL",
    url: "https://www.postgresql.org/",
  },
  {
    name: "Cloudflare",
    url: "https://www.cloudflare.com/",
  },
  {
    name: "GitHub",
    url: "https://github.com/",
  },
  {
    name: "Git",
    url: "https://git-scm.com/",
  },
  {
    name: ".NET",
    url: "https://dotnet.microsoft.com/",
  },
  {
    name: "MySQL",
    url: "https://www.mysql.com/",
  },
  {
    name: "Sentry",
    url: "https://sentry.io/",
  },
  {
    name: "Axiom",
    url: "https://axiom.co",
  },
  {
    name: "Digital Ocean",
    url: "https://www.digitalocean.com/",
  },
  {
    name: "jQuery",
    url: "https://jquery.com/",
  },
  {
    name: "Convex",
    url: "https://www.convex.dev/",
  },
  {
    name: "Shadcn UI",
    url: "https://ui.shadcn.com/",
  },
  {
    name: "Umami",
    url: "https://umami.is/",
  },
  {
    name: "oRPC",
    url: "https://orpc.unnoq.com/",
  },
  {
    name: "Zod",
    url: "https://zod.dev/",
  },
  {
    name: "Zustand",
    url: "https://zustand-demo.pmnd.rs/",
  },
  {
    name: "Hono",
    url: "https://hono.dev/",
  },
  {
    name: "AI SDK",
    url: "https://sdk.vercel.ai/",
  },
  {
    name: "Better Auth",
    url: "https://better-auth.com/",
  }
];
---

<section class="flex flex-col items-center justify-center align-middle">
  <h3 class="text-lg font-bold text-white md:text-xl pb-4">
    Stuff I Use
  </h3>
  <div
    class="mx-auto w-full flex flex-wrap items-center align-middle gap-2 justify-center rounded-md md:w-1/2"
  >
    {
      [...stack]
        .sort(() => Math.random() - 0.5)
        .map(({ name, url }) => (
        <a
          href={url}
          target="_blank"
          class="rounded-lg w-max border text-sm transition-colors duration-150 ease-in-out hover:bg-white/20 border-white/10 bg-white/10 text-white px-3 py-0.5 backdrop-blur-sm"
        >
          {name}
        </a>
      ))
    }
  </div>
</section>
