---
import Discord from "~/icons/discord-icon.astro";
import GitHub from "~/icons/github-icon.astro";
import X from "~/icons/x-icon.astro";

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  Discord,
  X,
};

const SOCIALS = [
  {
    network: "GitHub",
    url: "https://github.com/AbrahamX3",
  },
  {
    network: "Discord",
    url: "https://discord.com/users/247971007409684480",
  },
  {
    network: "X",
    url: "https://x.com/x3_abe",
  },
];
---

<section class="flex justify-center align-middle items-center gap-2">
  {
    SOCIALS.map(({ network, url }) => {
      const SocialIcon = SOCIAL_ICONS[network];

      return (
        <a
          target="_blank"
          rel="noopener noreferrer"
          href={url}
          aria-label={network}
          class="flex relative shadow-slate-800 shadow items-center rounded-lg group/lights border border-white/10 bg-white/10 p-2 text-center align-middle text-white backdrop-blur-sm transition-colors duration-150 ease-in hover:border-slate-100/50"
        >
          <span class="z-10">
            <SocialIcon />
          </span>
        </a>
      );
    })
  }
</section>
